<div class="page ">
  <img class="page-img" src="../images/2.png" style="height:760px;" alt="galaxy">
  <div class="front-div">
    <div class="container" style="height: 5rem; width: 100%">
      <hr>
      <h1 style="color: white;" class="text-center">Choose your party !!</h1>
      <hr>
      <img src="" alt="">
    </div>
    <div class="scrolling-wrapper">
      {{#each festivals as |festival|}}
      <div class="card transparent">
        <div class="mb-3 d-flex justify-content-center" data-id="{{festival._id}}">
          <div class="rounded p-3 mb-5" style="width: 15rem;">
            <img src="{{festival.image}}" class="card-img-top" alt="{{festival.name}}">
            <div class="card-body text-center ">
              <h6 class="card-title text-uppercase ">{{festival.name}}</h6>
              <div class="d-flex justify-content-center mt-2">
                <a href="/festivals/{{festival._id}}" class="btn btn-dark ">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    {{!-- 
    <h1 style="color: white;" class="text-center"><i>Coming soon : </i></h1>
    <div class="scrolling-wrapper">
      {{#each festivalByDate as |festival|}}
      <div class="card transparent">
        <div class="mb-3 d-flex justify-content-center" data-id="{{festival._id}}">
          <div class="rounded p-3 mb-5" style="width: 15rem;">
            <img src="{{festival.image}}" class="card-img-top" alt="{{festival.name}}">
            <div class="card-body text-center ">
              <h6 class="card-title text-uppercase ">{{festival.name}}</h6>
              <div class="d-flex justify-content-center mt-2">
                <a href="/festivals/{{festival._id}}" class="btn btn-dark ">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div> --}}
  </div>
</div>