<div class="page-img">
</div>
<div class="">
  <div class="card home-card transparent-home container">
    <h1 class="">FestiWink ;)</h1>
    <h4>This is a web where you can create your party, save your favorite events on your profile and comment on the
      detail page of the event. Just need to register so, go on!!</h4>
    <h4>Create your event to show what fun it is and where and when to find it !!</h4>
  </div>

  <div class="container">
    <h1 class="home-clasic">Choose your party !!</h1>
  </div>

  <div class="scrolling-wrapper">
    {{#each festivals as |festival|}}
    <div class="card myCard transparent">
      <div class="mb-3 d-flex justify-content-center" data-id="{{festival._id}}">
        <div class="rounded p-3 mb-5" style="width: 15rem;">
          <img src="{{festival.image}}" class="card-img-top" alt="{{festival.name}}">
          <div class="card-body text-center ">
            <h6 class="card-title text-uppercase ">{{festival.name}}</h6>
            <div class="d-flex justify-content-center mt-2">
              <a href="/festivals/{{festival._id}}" class="btn btn-dark">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="container">
    <h1 class="home-clasic">The most popular:</h1>
  </div>

  <div class="scrolling-wrapper text-center">
    {{#each likes as | like |}}
    <div class="card myCard transparent">
      <div class="mb-3 d-flex justify-content-center" data-id="{{like.festival._id}}">
        <div class="rounded p-3 mb-5" style="width: 15rem;">
          <img src="{{like.festival.image}}" class="card-img-top" alt="{{like.festival.name}}">
          <div class="card-body text-center ">
            <h6 class="card-title text-uppercase ">{{like.festival.name}}</h6>
            <div class="d-flex justify-content-center mt-2">
              <a href="/festivals/{{like.festival._id}}" class="btn btn-dark">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  {{!-- <h1 style="color: white;" class="text-center"><i>Coming soon : </i></h1>
    <div class="scrolling-wrapper">
      {{#each festivalByDate as |festival|}}
      <div class="card myCard transparent">
        <div class="mb-3 d-flex justify-content-center" data-id="{{festival._id}}">
          <div class="rounded p-3 mb-5" style="width: 15rem;">
            <img src="{{festival.image}}" class="card-img-top" alt="{{festival.name}}">
            <div class="card-body text-center ">
              <h6 class="card-title text-uppercase ">{{festival.name}}</h6>
              <div class="d-flex justify-content-center mt-2">
                <a href="/festivals/{{festival._id}}" class="btn btn-dark ">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div> --}}
</div>