<div class="card mb-3">
	<img src={{festival.image}} class="m-4 rounded" width="310"alt={{festival.name}}/>
	<div class="card-body">
		<h5 class="card-title text-uppercase">{{festival.name}}</h5>
		<p class="card-text"><small class="text-muted">{{festival.date}}</small></p>
    <i>{{festival.description}}</i>
	</div>
</div>

<h3 class="m-3">Information</h3>
<div class="m-4">
  <p><b>Place :</b> {{festival.location}}</p>
  <p><b>Date :</b> {{festival.date}}</p>
  <p><b>Price :</b> {{festival.price}}</p>
  <a href="/festivals/" class="btn btn-dark mt-2">Go Back</a>
  <a href="" class="btn btn-dark mt-2">Buy Ticket</a>
  <button class="like-btn-dislike btn btn-dark" data-id="{{festival._id}}"> 
    <i class="like-btn" >: (</i>
  </button>
</div>

<h3 class="m-3">--Comments--</h3>
{{#each festival.comments as | comment |}}
<hr>
<div class="m-4 container">
  <p><b>Author :</b> {{comment.author}}</p>
  <p><b>Comment :</b> {{comment.content}}</p>
</div>
{{/each}}

<hr>
 
<div class = "container">
<h3>Add comment</h3>
 
<form action="/festivals/{{festival._id}}/comment" method="POST">
  <label for="comment-author-username">Your name:</label>
  <input type="text" name="author" id="comment-author-username" />
  
  <textarea name="content" id="comment-content-input" cols="40" rows="3"></textarea>
  <button type="submit">Comment</button>
</form>
</div>


<script>
 const likeNode = document.querySelectorAll('.like-btn-dislike');

  for(let node of likeNode) {
    node.addEventListener('click', () => {
      const nodeId = node.dataset.id;
      console.log(nodeId)
      axios.post(`/like/${nodeId}`)
        .then(responseFromApi => {
          console.log('Success!', responseFromApi);
            const selectedLike = document.querySelector(`.like-btn-dislike[data-id="${nodeId}"]`);
            const smileOrNot = document.querySelector(`.like-btn-dislike[data-id="${nodeId}"]>i`);
          if(responseFromApi.status == 200) {
            console.log(smileOrNot)
            smileOrNot.textContent = "; )"
            selectedLike.classList.remove("btn-dark")
            selectedLike.classList.add("btn-info")
          } 
          if(responseFromApi.status == 204) {
            smileOrNot.textContent = ": (";
            selectedLike.classList.add("btn-dark")
            selectedLike.classList.remove("btn-info")  

          }
        })
        .catch(error => console.log('Error!', error))
    })
  }
</script>