<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src={{festival.image}} class="rounded-circle border border-3 m-4" width="200" alt={{festival.name}}>
      <h2>{{festival.name}}</h2>
      <p>{{festival.description}}</p>
      <h2>{{festival.price}}</h2>
      <hr class="my-4">
      <a href="/festivals">Back to festivals</a>
    </div>
  </div>
</div>