<div class="form">
<form action="/festivals/create" method="POST" enctype='multipart/form-data'>

       <div class="input-group mb-2">
        <input
          type="text"
          name="name"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.name}}is-invalid{{/if}}"
          placeholder="name"
          aria-label="name"
          value="{{ festival.name }}"
        >
        {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <select
          name="category"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Category"
          aria-label="Category"
          value="{{ festival.category }}"
        >
         <option selected disabled hidden value="none" class="grey_color">Select Category</option>
         <option value="Rock">Rock</option>
         <option value="Pop">Pop</option>
         <option value="Reggaeton">Reggaeton</option>
         <option value="Indie">Indie</option>
         <option value="Techno">Techno</option>
         <option value="Electrohouse">Electrohouse</option>
         <option value="Deep House">Deep House</option>
        </select>
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
             <div class="input-group mb-2">
        <input
          type="text"
          name="location"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.location}}is-invalid{{/if}}"
          placeholder="location"
          aria-label="location"
          value="{{ festival.location }}"
        >
        {{#if errors.location}}<div class="invalid-feedback">{{ errors.location }}</div>{{/if}}
      </div>

      <div class="input-group mb-2">
        <input
          type="text"
          name="description"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.description}}is-invalid{{/if}}"
          placeholder="description"
          aria-label="description"
          value="{{ festival.description }}"
        >
        {{#if errors.description}}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
      </div>

      <div class="input-group mb-2">
        <input
          type="text"
          name="price"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.price}}is-invalid{{/if}}"
          placeholder="price"
          aria-label="price"
          value="{{ festival.price }}"
        >
        {{#if errors.price}}<div class="invalid-feedback">{{ errors.price }}</div>{{/if}}
      </div>

             <div class="input-group mb-2">
        <input
          type="date"
          name="date"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.date}}is-invalid{{/if}}"
          placeholder="date"
          aria-label="date"
          value="{{ festival.date }}"
        >
        {{#if errors.date}}<div class="invalid-feedback">{{ errors.date }}</div>{{/if}}
      </div>

      <div class="input-group mb-2">
        <input
          type="file"
          name="image"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.image}}is-invalid{{/if}}"
          placeholder="Upload Image"
          aria-label="User name"
          value="{{ user.image }}"
        >
        {{#if errors.image}}<div class="invalid-feedback">{{ errors.image }}</div>{{/if}}
      </div>

  <button class='form-btn' type="submit">Submit</button>
</form>
</div>