<div class="festival-bg">
</div>
<div class="list-view">
	<div class="container mt-4">
		<div class="row">
			{{#if festivals.length}}
				{{#each festivals as |festival|}}
					<div
						class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center"
						data-id="{{festival._id}}"
					>
						<div
							class="card shadow bg-body rounded shadow p-3 mb-5 bg-body rounded"
							style="width: 20rem;"
						>
							<img
								src="{{festival.image}}"
								class="card-img-top"
								alt="{{festival.name}}"
							/>
							<div class="card-body text-center">
								<h5 class="card-title text-uppercase mt-3">{{festival.name}}</h5>
								<small
									class="card-text fw-lighter text-secondary mt-3"
								>{{festival.date}}</small>
								<div class="d-flex justify-content-center mt-3">
									<a href="/festivals/{{festival._id}}" class="btn btn-dark">See
										Details</a>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class="img-err">
    			<h1>No festivals were found please go back!</h1> 
				</div>
			{{/if}}
		</div>
		<hr class="my-4" />
		{{#if currentUser}}

		<div class="row">
			<div class="col col-sm-8 col-md-6 col-lg-4 mx-auto d-flex justify-content-center">
				<a href="/festivals/create" class="btn btn-dark create">Create Festival</a>
			</div>
		</div>

		{{/if}}
	</div>
</div>