<div class="container mt-4">
  <div class="row">
    {{#if festivals.length}}
      {{#each festivals as |festival|}}
        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center" data-id="{{festival._id}}">
          <div class="card shadow bg-body rounded shadow p-3 mb-5 bg-body rounded" style="width: 20rem;">
            <img src="{{festival.image}}" class="card-img-top" alt="{{festival.name}}">
            <div class="card-body text-center ">
              <h5 class="card-title text-uppercase ">{{festival.name}}</h5>
              <small class="card-text fw-lighter text-secondary">{{festival.date}}</small>
              <div class="d-flex justify-content-center mt-2">
                <a href="/festivals/{{festival._id}}" class="btn btn-dark ">See Details</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>Store is empty :pensativo: Come back later</p>
    {{/if}}
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col col-sm-8 col-md-6 col-lg-4 mx-auto d-flex justify-content-center">
      <a href="/festivals/create" class="btn btn-dark">Create Festival</a>
    </div>
  </div>
</div>
<script>
  const removeNodes = document.querySelectorAll('.remove');
  for(let node of removeNodes) {
    node.addEventListener('click', () => {
      const nodeId = node.dataset.id;
      axios.delete(`/festivals/${nodeId}`)
        .then(responseFromApi => {
          console.log('Success!', responseFromApi);
          if(responseFromApi.status == 204) {
            document.querySelector(`.festival[data-id="${nodeId}"]`).remove();
          }
        })
        .catch(error => console.log('Error!', error))
    })
  }
</script>